@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #ffffff;
  --bg-accent: #0f172a;
  --text-color: #121212;
  --secondary-text-color: #475569;
  --accent-color: #5380ea;
  --accent2-color: #e54a2a;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
  user-select: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ebf0ff;
}

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
}

.bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

header {
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px 32px;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul a {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  color: var(--text-color);
}

header button {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.35;
  color: var(--bg-color);
  background-color: var(--accent-color);
  padding: 8px 24px;
  border-radius: 32px;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HERO SECTION */

main section#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 76px;
  padding-top: 150px;
  gap: 20px;
}

main section#hero .hero-images {
  z-index: 2;
  height: 43vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main section#hero .hero-images .planet-image,
main section#hero .hero-images .line-image {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main section#hero .hero-images h1 {
  z-index: 3;
  position: relative;
  font-size: 4rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: var(--text-color);
  width: 80%;
}

main section#hero .hero-images h1 span {
  font-family: "Nunito", sans-serif;
  color: var(--accent-color);
}

main section#hero .hero-images img.vector-image {
  position: absolute;
  right: 21%;
}

main section#hero p.description {
  width: 60%;
  text-transform: capitalize;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--secondary-text-color);
}

main section#hero .mouse-icon {
  margin-top: 76px;
}

main section#hero button,
main section#interest-us .content button {
  font-size: 0.875rem;
  line-height: 1.35;
  font-weight: 700;
  color: var(--bg-color);
  background-color: var(--text-color);
  padding: 12px 24px;
  border-radius: 8px;
  z-index: 3;
}

main section#interest-us {
  padding: 88px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

main section#interest-us .head-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 80%;
}

.section-head-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  color: var(--accent-color);
  font-weight: 700;
  width: 20%;
  text-align: center;
  text-transform: capitalize;
}

main section#interest-us .head-content h2,
main section#services .text-box h2,
main section#choose-up .text-box h2 {
  width: 75%;
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
}

main section#interest-us .head-content h2 span,
main section#services .text-box h2 span {
  font-family: "Nunito", sans-serif;
  color: var(--accent2-color);
}

main section#interest-us .head-content .description-text,
main section#choose-up .text-box .description-text {
  font-family: Arial, Helvetica, sans-serif;
  clip: var(--secondary-text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  width: 96%;
}

main section#interest-us .content {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 80%;
  gap: 40px;
}

main section#interest-us .content .text-box {
  position: relative;
  width: 70%;
}

main section#interest-us .content .text-box p {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--secondary-text-color);
  line-height: 1.375;
}

main section#interest-us .content .text-box .blur-button {
  padding: 4px;
  position: absolute;
  left: -1px;
  bottom: -1px;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main section#interest-us .cardbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

main section#interest-us .cardbox article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

main section#interest-us .cardbox article .textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

main section#interest-us .cardbox article .textbox h3,
main section#interest-us .cardbox article .textbox p {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--text-color);
}

main section#interest-us .cardbox article .textbox p {
  font-size: 1rem;
  color: var(--secondary-text-color);
}

main section#services {
  background-color: #ebf0ff;
  padding: 75px 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

main section#services .text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
  width: 87%;
}

main section#services .text-box .section-head-text {
  text-align: start;
  width: 100%;
}

main section#services .text-box h2 {
  text-align: start;
  width: 100%;
}

main section#services ul.cardbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

main section#services ul.cardbox li article {
  cursor: pointer;
  border-top: 8px var(--accent-color) solid;
  background-color: var(--bg-color);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 16px;
  gap: 8px;
  border-radius: 4px;
  transition: all 0.5s;
  color: var(--text-color);
}

main section#services ul.cardbox li article:hover {
  background-color: var(--bg-accent);
}

main section#services ul.cardbox li article:hover h3,
main section#services ul.cardbox li article:hover svg path {
  color: var(--bg-color);
}

main section#services ul.cardbox li article svg path {
  color: var(--accent-color);
}

main section#services ul.cardbox li article h3 {
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--text-color);
}

main section#services ul.cardbox li article button {
  background-color: var(--accent-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

main section#services ul.cardbox li article button img {
  transition: transform 0.5s;
}

main section#services ul.cardbox li article button:hover img {
  transform: rotate(45deg);
}

main section#choose-up {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
  position: relative;
  padding: 75px 220px;
}

main section#choose-up img.yellow-blick {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}

main section#choose-up img.red-blick {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

main section#choose-up .text-box {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

main section#choose-up .cardbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

main section#choose-up .cardbox > :nth-child(4) {
  grid-column: 2;
}

@media (max-width: 600px) {
  main section#choose-up .cardbox {
    grid-template-columns: 1fr;
  }

  main section#choose-up .cardbox > :nth-child(4) {
    grid-column: auto;
  }
}

main section#choose-up .cardbox li article {
  position: relative;
  z-index: 10;
  height: 383px;
  -webkit-box-shadow: 2px 10px 40px 0px rgba(83, 128, 234, 0.2);
  -moz-box-shadow: 2px 10px 40px 0px rgba(83, 128, 234, 0.2);
  box-shadow: 2px 10px 40px 0px rgba(83, 128, 234, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 12px;
  border-radius: 12px;
  background-color: var(--bg-color);
  padding: 16px;
}

main section#choose-up .cardbox li article img {
  width: 52px;
  height: 52px;
}

main section#choose-up .cardbox li article h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  text-align: center;
}

main section#choose-up .cardbox li article p {
  font-size: 0.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 22px;
  color: #767676;
  text-transform: capitalize;
}

footer {
  gap: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-text-color);
}
